
{% block body -%}
    <h1>{{ 'sidebar.Enregistrer enseignant'|trans({}, 'backend') }}</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('teacher') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
