{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Group creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('group') }}">
           <button type="button" class="btn btn-info">
                    <span class="  glyphicon-circle-arrow-left"></span>
                    {{ 'Liens.Retour à la liste'|trans({}, 'backend') }}
                </button></a>
        </a>
    </li>
</ul>
{% endblock %}
